In [2]:
import pandas as pd
import os
import numpy as np

SOURCE_DIR = 'E:\\Mugshots'
DEST_DIR = '../../data'
#FILENAME = 'Metadata.txt'
FILENAME = 'photoFeltGrønngylt3.csv'

dateparser = lambda x: pd.datetime.strptime(x, '%d.%m.%Y')

df = pd.read_csv(os.path.join(SOURCE_DIR, FILENAME),
                 encoding='utf-8',
                 sep=';',
                 parse_dates=['date'],
                 date_parser=dateparser)

df.dtypes

<ipython-input-2-e1e747217013>:10: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  dateparser = lambda x: pd.datetime.strptime(x, '%d.%m.%Y')

RowNumber                 object
pit                       object
species                   object
length                     int64
sex                       object
spawning                 float64
recap                    float64
photostart               float64
photostop                float64
date              datetime64[ns]
Period                    object
dayseq                   float64
area                      object
crypto                   float64
skade                    float64
løpernummer              float64
dataset                   object
photostart2              float64
photostop2               float64
nfotos                   float64
photoObs                   int64
Prefix                    object
photostartFull            object
photostopFull             object
photostartold             object
photostopOld              object
dtype: object

In [3]:
df.head()

,RowNumber,pit,species,length,sex,spawning,recap,photostart,photostop,date,...,dataset,photostart2,photostop2,nfotos,photoObs,Prefix,photostartFull,photostopFull,photostartold,photostopOld
0,74,209144,grønngylt,153,m,NaN,0.0,18.0,19.0,2017-08-02,...,FieldMain,18.0,19.0,2.0,2,NaN,NaN,NaN,NaN,NaN
1,112,209633,grønngylt,179,m,1.0,0.0,17.0,NaN,2017-08-02,...,FieldMain,17.0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
2,130,209814,grønngylt,189,m,NaN,0.0,19.0,21.0,2017-08-03,...,FieldMain,19.0,21.0,3.0,1,NaN,NaN,NaN,NaN,NaN
3,149,209984,grønngylt,142,m,NaN,0.0,24.0,25.0,2017-08-03,...,FieldMain,24.0,25.0,2.0,1,NaN,NaN,NaN,NaN,NaN
4,148,209983,grønngylt,187,m,NaN,0.0,26.0,27.0,2017-08-03,...,FieldMain,26.0,27.0,2.0,1,NaN,NaN,NaN,NaN,NaN

In [4]:
df['species'].value_counts()

grønngylt    3317
bergnebb      116
berggylt       16
ga              6
Name: species, dtype: int64

In [5]:
df[df['species'] == 'ga']

,RowNumber,pit,species,length,sex,spawning,recap,photostart,photostop,date,...,dataset,photostart2,photostop2,nfotos,photoObs,Prefix,photostartFull,photostopFull,photostartold,photostopOld
3061,901,421155,ga,148,f,0.0,NaN,1320.0,1321.0,2020-05-02,...,LabMain,1320.0,1321.0,2.0,2,NaN,NaN,NaN,NaN,NaN
3066,949,421251,ga,127,f,0.0,NaN,1330.0,1331.0,2020-05-02,...,LabMain,1330.0,1331.0,2.0,2,NaN,NaN,NaN,NaN,NaN
3162,1016,421435,ga,131,f,0.0,NaN,1522.0,1523.0,2020-05-02,...,LabMain,1522.0,1523.0,2.0,2,NaN,NaN,NaN,NaN,NaN
3174,902,421155,ga,147,m,0.0,NaN,548.0,549.0,2019-10-28,...,LabMain,548.0,549.0,2.0,2,NaN,NaN,NaN,NaN,NaN
3387,948,421251,ga,123,m,0.0,NaN,1003.0,1004.0,2019-10-30,...,LabMain,1003.0,1004.0,2.0,2,NaN,NaN,NaN,NaN,NaN
3415,1017,421435,ga,129,m,0.0,NaN,1063.0,1064.0,2019-10-30,...,LabMain,1063.0,1064.0,2.0,2,NaN,NaN,NaN,NaN,NaN

In [6]:
# Oprette kolonne for dag og måned
df['month'] = pd.DatetimeIndex(df['date']).month
df['day'] = pd.DatetimeIndex(df['date']).day
df.head()

,RowNumber,pit,species,length,sex,spawning,recap,photostart,photostop,date,...,photostop2,nfotos,photoObs,Prefix,photostartFull,photostopFull,photostartold,photostopOld,month,day
0,74,209144,grønngylt,153,m,NaN,0.0,18.0,19.0,2017-08-02,...,19.0,2.0,2,NaN,NaN,NaN,NaN,NaN,8,2
1,112,209633,grønngylt,179,m,1.0,0.0,17.0,NaN,2017-08-02,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,8,2
2,130,209814,grønngylt,189,m,NaN,0.0,19.0,21.0,2017-08-03,...,21.0,3.0,1,NaN,NaN,NaN,NaN,NaN,8,3
3,149,209984,grønngylt,142,m,NaN,0.0,24.0,25.0,2017-08-03,...,25.0,2.0,1,NaN,NaN,NaN,NaN,NaN,8,3
4,148,209983,grønngylt,187,m,NaN,0.0,26.0,27.0,2017-08-03,...,27.0,2.0,1,NaN,NaN,NaN,NaN,NaN,8,3

In [7]:
# Kolonner må være float for å kunne håndtere nan
print(df['photostart'].isna().sum())
print(df['photostop'].isna().sum())

118
176

In [8]:
# Beholder bare grønngylt
df_gg = df[df['species'] == 'grønngylt']
df_gg.head()

,RowNumber,pit,species,length,sex,spawning,recap,photostart,photostop,date,...,photostop2,nfotos,photoObs,Prefix,photostartFull,photostopFull,photostartold,photostopOld,month,day
0,74,209144,grønngylt,153,m,NaN,0.0,18.0,19.0,2017-08-02,...,19.0,2.0,2,NaN,NaN,NaN,NaN,NaN,8,2
1,112,209633,grønngylt,179,m,1.0,0.0,17.0,NaN,2017-08-02,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,8,2
2,130,209814,grønngylt,189,m,NaN,0.0,19.0,21.0,2017-08-03,...,21.0,3.0,1,NaN,NaN,NaN,NaN,NaN,8,3
3,149,209984,grønngylt,142,m,NaN,0.0,24.0,25.0,2017-08-03,...,25.0,2.0,1,NaN,NaN,NaN,NaN,NaN,8,3
4,148,209983,grønngylt,187,m,NaN,0.0,26.0,27.0,2017-08-03,...,27.0,2.0,1,NaN,NaN,NaN,NaN,NaN,8,3

In [9]:
# Mye feil her
df_gg['images_count'] = df_gg['photostop'] - df_gg['photostart'] + 1
df_gg['images_count'].value_counts()

<ipython-input-9-243e8204c4bb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gg['images_count'] = df_gg['photostop'] - df_gg['photostart'] + 1

 2.0      2997
 3.0        49
 4.0         3
-198.0       1
-298.0       1
 102.0       1
-271.0       1
-16.0        1
 1.0         1
 11.0        1
 5.0         1
Name: images_count, dtype: int64

In [10]:
# Rader som med høy sansynlighet er feil
df_gg[(df_gg['images_count'] <= 0) | (df_gg['images_count'] >= 4)]

,RowNumber,pit,species,length,sex,spawning,recap,photostart,photostop,date,...,nfotos,photoObs,Prefix,photostartFull,photostopFull,photostartold,photostopOld,month,day,images_count
144,2248,424810,grønngylt,169,m,0.0,0.0,998.0,1002.0,2018-05-16,...,4.0,1,_1160,_1160998,_1170002,NaN,2,5,16,5.0
160,2198,424680,grønngylt,113,m,0.0,0.0,1033.0,1036.0,2018-05-16,...,4.0,1,_11,_1170033,_1170036,33,36,5,16,4.0
307,1843,423593,grønngylt,113,m,0.0,0.0,278.0,288.0,2018-05-30,...,11.0,1,P5300,P5300278,P5300288,NaN,NaN,5,30,11.0
489,1806,423491,grønngylt,115,m,0.0,0.0,742.0,725.0,2018-06-01,...,-16.0,1,P6010,P6010742,P6010725,NaN,NaN,6,1,-16.0
1704,2647,430788,grønngylt,162,m,0.0,0.0,1478.0,1579.0,2018-09-07,...,2.0,1,NaN,NaN,NaN,NaN,NaN,9,7,102.0
1855,2701,430913,grønngylt,143,f,0.0,0.0,1975.0,1776.0,2018-09-09,...,-198.0,1,NaN,NaN,NaN,NaN,NaN,9,9,-198.0
2470,3216,443787,grønngylt,122,m,0.0,0.0,1618.0,1621.0,2020-05-04,...,4.0,1,NaN,NaN,NaN,NaN,NaN,5,4,4.0
3171,18,201262,grønngylt,183,m,0.0,NaN,542.0,243.0,2019-10-28,...,-298.0,2,NaN,NaN,NaN,NaN,NaN,10,28,-298.0
3177,1187,421761,grønngylt,138,m,0.0,NaN,554.0,557.0,2019-10-28,...,3.0,3,NaN,NaN,NaN,NaN,NaN,10,28,4.0
3243,1252,421891,grønngylt,127,f,0.0,NaN,969.0,697.0,2019-10-28,...,-271.0,3,NaN,NaN,NaN,NaN,NaN,10,28,-271.0

In [11]:
# Checks whether there is overlap between photostart and photostop
# Nevermind, duplicates are valid
# indices = []
# for i, r in df_gg.iterrows():
#     for j, s in df_gg.iterrows():
#
#         rstart = int(r['photostart'])
#         sstart = int(s['photostart'])
#         if np.isnan(r['photostop']):
#             rstop = rstart
#         else:
#             rstop = int(r['photostop'])
#         if np.isnan(s['photostop']):
#             sstop = sstart
#         else:
#             sstop = int(s['photostop'])
#
#         target = range(rstart, rstop)
#         compare = range(sstart, sstop)
#         match = np.any(np.in1d(target, compare))
#
#         if match:
#             indices.append(i)
#             indices.append(j)
#
# df_gg.iloc[indices,:]

In [12]:
df_gg['photostart'].describe()

count    3230.000000
mean     1398.377399
std       862.478485
min         1.000000
25%       694.500000
50%      1351.000000
75%      1953.750000
max      4372.000000
Name: photostart, dtype: float64

In [13]:
# Filtrerer ut de som kanskje er feil
df_gg_f = df_gg[(df_gg['images_count'] > 0) & (df_gg['images_count'] <= 2)]
df_gg_f['images_count'].value_counts()

2.0    2997
1.0       1
Name: images_count, dtype: int64

In [14]:
# Ikke numerisk pit
df_gg_f[df_gg_f['pit'].apply(lambda x: not x.isnumeric())]

,RowNumber,pit,species,length,sex,spawning,recap,photostart,photostop,date,...,nfotos,photoObs,Prefix,photostartFull,photostopFull,photostartold,photostopOld,month,day,images_count
3013,3452,TAGLOSS,grønngylt,138,m,0.0,NaN,1224.0,1225.0,2020-05-01,...,2.0,2,NaN,NaN,NaN,NaN,NaN,5,1,2.0
3025,3451,TAGLOSS,grønngylt,132,m,0.0,NaN,1248.0,1249.0,2020-05-01,...,2.0,2,NaN,NaN,NaN,NaN,NaN,5,1,2.0

In [15]:
# Fjerne ikke numeriske pit rader
df_gg_f = df_gg_f[df_gg_f['pit'].apply(lambda x: x.isnumeric())]
df_gg_f['pit'] = pd.to_numeric(df_gg_f['pit'])
df_gg_f.dtypes

RowNumber                 object
pit                        int64
species                   object
length                     int64
sex                       object
spawning                 float64
recap                    float64
photostart               float64
photostop                float64
date              datetime64[ns]
Period                    object
dayseq                   float64
area                      object
crypto                   float64
skade                    float64
løpernummer              float64
dataset                   object
photostart2              float64
photostop2               float64
nfotos                   float64
photoObs                   int64
Prefix                    object
photostartFull            object
photostopFull             object
photostartold             object
photostopOld              object
month                      int64
day                        int64
images_count             float64
dtype: object

In [16]:
df_gg_f['pit'].describe().apply(lambda x: format(x, 'f'))

count       2996.000000
mean      405911.752003
std       105106.134126
min        40885.000000
25%       420890.500000
50%       423042.500000
75%       430248.000000
max      4219725.000000
Name: pit, dtype: object

In [17]:
# TODO: Her må det tas i betraktning hvor mange bilder som er oppført på hver record
# Viser hvor mange individer har et vist antall bilder
pit_group = df_gg_f.groupby(['pit'])['species']
pit_group.count().value_counts()

1    2447
2     227
3      29
4       2
Name: species, dtype: int64

In [18]:
df_gg_f.to_csv("pandas.csv",
               sep=";",
               encoding='utf-8',
               index=False)