In [6]:
import pandas as pd
import os
import glob

META_FILE = 'E:\\Mugshots\\photoFeltGrønngylt2.csv'
DATASET_DIRECTORY = '../../data/dataset_condensed'

In [4]:
df = pd.read_csv(META_FILE, sep=';')
df

,RowNumber,pit,species,length,sex,spawning,recap,photostart,photostop,date,...,crypto,skade,løpernummer,dataset,photostart2,photostop2,nfotos,photoObs,photostartold,photostopOld
0,74,209144,grønngylt,153,m,NaN,0.0,18.0,19.0,02.08.2017,...,NaN,NaN,21.0,FieldMain,18.0,19.0,2.0,2,NaN,NaN
1,112,209633,grønngylt,179,m,1.0,0.0,17.0,NaN,02.08.2017,...,NaN,NaN,20.0,FieldMain,17.0,NaN,NaN,1,NaN,NaN
2,130,209814,grønngylt,189,m,NaN,0.0,19.0,21.0,03.08.2017,...,NaN,NaN,476.0,FieldMain,19.0,21.0,3.0,1,NaN,NaN
3,149,209984,grønngylt,142,m,NaN,0.0,24.0,25.0,03.08.2017,...,NaN,NaN,482.0,FieldMain,24.0,25.0,2.0,1,NaN,NaN
4,148,209983,grønngylt,187,m,NaN,0.0,26.0,27.0,03.08.2017,...,NaN,NaN,494.0,FieldMain,26.0,27.0,2.0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3450,1281,421945,bergnebb,112,f,0.0,NaN,1134.0,1135.0,30.10.2019,...,NaN,NaN,292.0,LabMain,1134.0,1135.0,2.0,2,NaN,NaN
3451,2678,430857,bergnebb,117,m,0.0,NaN,1136.0,1137.0,30.10.2019,...,NaN,NaN,293.0,LabMain,1136.0,1137.0,2.0,2,NaN,NaN
3452,883,421106,berggylt,260,NaN,0.0,NaN,1138.0,1139.0,30.10.2019,...,NaN,NaN,294.0,LabMain,1138.0,1139.0,2.0,2,NaN,NaN
3453,extra,424916,grønngylt,132,f,1.0,NaN,696.0,697.0,15.05.2018,...,NaN,NaN,7249.0,FieldMain,696.0,697.0,2.0,2,not in,not in
3454,2101,424334,grønngylt,123,m,0.0,0.0,698.0,699.0,15.05.2018,...,NaN,NaN,7249.0,FieldMain,698.0,699.0,2.0,3,696,697

In [10]:
jpg_files = glob.glob(DATASET_DIRECTORY + "\\*.jpg")
pits = [os.path.splitext(os.path.basename(jpg_file))[0].split('_')[0] for jpg_file in jpg_files]
pits[0]

'204295'

In [13]:
df_males = df[df['sex'] == 'm']
df_males

,RowNumber,pit,species,length,sex,spawning,recap,photostart,photostop,date,...,crypto,skade,løpernummer,dataset,photostart2,photostop2,nfotos,photoObs,photostartold,photostopOld
0,74,209144,grønngylt,153,m,NaN,0.0,18.0,19.0,02.08.2017,...,NaN,NaN,21.0,FieldMain,18.0,19.0,2.0,2,NaN,NaN
1,112,209633,grønngylt,179,m,1.0,0.0,17.0,NaN,02.08.2017,...,NaN,NaN,20.0,FieldMain,17.0,NaN,NaN,1,NaN,NaN
2,130,209814,grønngylt,189,m,NaN,0.0,19.0,21.0,03.08.2017,...,NaN,NaN,476.0,FieldMain,19.0,21.0,3.0,1,NaN,NaN
3,149,209984,grønngylt,142,m,NaN,0.0,24.0,25.0,03.08.2017,...,NaN,NaN,482.0,FieldMain,24.0,25.0,2.0,1,NaN,NaN
4,148,209983,grønngylt,187,m,NaN,0.0,26.0,27.0,03.08.2017,...,NaN,NaN,494.0,FieldMain,26.0,27.0,2.0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3447,2840,433687,bergnebb,123,m,0.0,NaN,1128.0,1129.0,30.10.2019,...,NaN,NaN,289.0,LabMain,1128.0,1129.0,2.0,2,NaN,NaN
3448,23,201325,bergnebb,115,m,0.0,NaN,1130.0,1131.0,30.10.2019,...,NaN,NaN,290.0,LabMain,1130.0,1131.0,2.0,1,NaN,NaN
3449,2808,433386,bergnebb,117,m,0.0,NaN,1132.0,1133.0,30.10.2019,...,NaN,NaN,291.0,LabMain,1132.0,1133.0,2.0,1,NaN,NaN
3451,2678,430857,bergnebb,117,m,0.0,NaN,1136.0,1137.0,30.10.2019,...,NaN,NaN,293.0,LabMain,1136.0,1137.0,2.0,2,NaN,NaN
3454,2101,424334,grønngylt,123,m,0.0,0.0,698.0,699.0,15.05.2018,...,NaN,NaN,7249.0,FieldMain,698.0,699.0,2.0,3,696,697

In [14]:
df_filtered = df_males[df_males['pit'].isin(pits)]
df_filtered

,RowNumber,pit,species,length,sex,spawning,recap,photostart,photostop,date,...,crypto,skade,løpernummer,dataset,photostart2,photostop2,nfotos,photoObs,photostartold,photostopOld
9,119,209700,grønngylt,130,m,NaN,0.0,2.0,NaN,11.08.2017,...,NaN,NaN,1427.0,FieldMain,2.0,NaN,NaN,3,NaN,NaN
72,2250,424816,grønngylt,117,m,0.0,1.0,513.0,514.0,14.05.2018,...,NaN,NaN,6855.0,FieldMain,513.0,514.0,2.0,3,NaN,NaN
176,2055,424216,grønngylt,184,m,0.0,1.0,739.0,740.0,16.05.2018,...,NaN,NaN,7295.0,FieldMain,739.0,740.0,2.0,3,NaN,NaN
612,2003,423995,grønngylt,132,m,1.0,0.0,1402.0,1403.0,03.07.2018,...,NaN,NaN,8660.0,FieldMain,1402.0,1403.0,2.0,2,NaN,NaN
661,1683,423193,grønngylt,116,m,0.0,0.0,1507.0,1508.0,03.07.2018,...,NaN,NaN,8804.0,FieldMain,1507.0,1508.0,2.0,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3412,1327,422009,grønngylt,142,m,0.0,NaN,1057.0,1058.0,30.10.2019,...,NaN,NaN,254.0,LabMain,1057.0,1058.0,2.0,3,NaN,NaN
3414,1023,421446,grønngylt,136,m,0.0,NaN,1061.0,1062.0,30.10.2019,...,NaN,NaN,256.0,LabMain,1061.0,1062.0,2.0,2,NaN,NaN
3427,1125,421666,grønngylt,137,m,0.0,NaN,1088.0,1089.0,30.10.2019,...,NaN,NaN,269.0,LabMain,1088.0,1089.0,2.0,2,NaN,NaN
3437,936,421212,grønngylt,134,m,0.0,NaN,1108.0,1109.0,30.10.2019,...,NaN,NaN,279.0,LabMain,1108.0,1109.0,2.0,2,NaN,NaN
3442,909,421171,grønngylt,108,m,0.0,NaN,1118.0,1119.0,30.10.2019,...,NaN,NaN,284.0,LabMain,1118.0,1119.0,2.0,2,NaN,NaN

In [24]:
male_pits = df_filtered['pit'].tolist()
male_pits[0]

'209700'

In [25]:
pit_0 = male_pits[0]
g = DATASET_DIRECTORY + "\\" + pit_0 + "*"
files = glob.glob(g)
files

['D:\\Jobb\\Siamese Fish\\data\\dataset_condensed\\209700_0.jpg',
 'D:\\Jobb\\Siamese Fish\\data\\dataset_condensed\\209700_0.txt',
 'D:\\Jobb\\Siamese Fish\\data\\dataset_condensed\\209700_1.jpg',
 'D:\\Jobb\\Siamese Fish\\data\\dataset_condensed\\209700_1.txt',
 'D:\\Jobb\\Siamese Fish\\data\\dataset_condensed\\209700_2.jpg',
 'D:\\Jobb\\Siamese Fish\\data\\dataset_condensed\\209700_2.txt',
 'D:\\Jobb\\Siamese Fish\\data\\dataset_condensed\\209700_3.jpg',
 'D:\\Jobb\\Siamese Fish\\data\\dataset_condensed\\209700_3.txt']